<%= form_with(model: team_invitation) do |form| %>
  <fieldset class="cm-fieldset">
    <div class="cm-fieldset__element cm-input-group">
      <%= form.label :name, t(:name), class: "cm-label" %>
      <%= form.text_field :name, class: "cm-input" %>
    </div>

    <div class="cm-fieldset__element cm-input-group">
      <%= form.label :email, t(:email), class: "cm-label" %>
      <%= form.text_field :email, class: "cm-input" %>
    </div>
  </fieldset>

  <fieldset class="cm-fieldset">
    <div class="cm-fieldset__element cm-btns-group">
    <%= form.submit t(".new"), class: "cm-btn" %>
    </div>
    <%= link_to sanitize("&larr;"), team_path(@team.id) %>
  </fieldset>
<% end %> 
