<article class="TeamTile cm-tile cm-column" id="<%= dom_id team %>">
  <div class="cm-tile__title">
    <h1 class="Team__name">
      <%= team.name %>
    </h1>
  </div>

  <div class="TeamTile__body cm-tile__body">
    <div class="TeamTile__info">
      <p>
        <i class="cm-icon-chat"></i>
        <%= Current.phone_number.phony_formatted(format: :national) %>
      </p>
      <p>
        <i class="cm-icon-team"></i>
        <%= t(".members", count: team.memberships.count) %>
      </p>
    </div>

    <div class="TeamTile__actions cm-tile__actions">
      <%= link_to edit_team_path(team), class: "TeamTile__btn cm-btn cm-btn--secondary cm-btn--fat" do %>
        <i class="cm-icon-settings cm-icon--sm"></i>&nbsp;
        <%= t(".settings") %>
      <% end if can? :edit, team %>
      <%= link_to t(".open"), team_conversations_path(team), class: "TeamTile__btn cm-btn cm-btn--fat cm-btn--icon-left cm-icon-chat" %>
    </div>
  </div>
</article>
