<%= render partial: "menu" %>
<div class="Page Page__index-team">
  <div class="Block Block__index-team">
    <header class="Teams__header">
      <h1>
        <i class="cm-icon-home cm-icon--xl"></i>
        <%= t(".my_teams") %>
      </h1>
    </header>
    
    <% if @teams.count == 0 %>
      <p><%= t(".no_team") %></p>
    <% else %>
      <div class="cm-container Teams__list">
        <%= render collection: @teams, partial: "team" %>
      </div>
    <% end %>

  </div>
</div>

<%= render partial: "footer" %>