<%= turbo_frame_tag "navigation" do %>
  <div class="ConversationSidebar">
    <%= render partial: "conversations/team_name", locals: { team: @team } %>
    <div class="cm-menu" data-controller="menu" data-menu-viewer-outlet=".Viewer">
      <%= menu_for(:swap_team, icon: :"swap-structure", destination: teams_path(), frame: "_top") %>
      <%= menu_for(:conversations, icon: :chat, destination: team_conversations_path(@team), frame: "_top") %>
      <%= menu_for(:contacts, icon: :"address-book", destination: team_contacts_path(@team)) %>

      <%= menu_for(:team, icon: :team, destination: team_path(@team)) %>
      <%= menu_for(:edit_team, icon: :settings, destination: edit_team_path(@team)) if can? :update, Team %>
    </div>
  </div>
<% end %>