<%= content_for :primary do %>
  <div class="TeamShow">
    <%= render "header_tab_bar" do %>
      <i class="cm-icon-team"></i>
      <%= t("teams.show.title") %>
    <% end %>
    <div class="TeamShow__body">
      <% if can? :create, User %>
        <div class="TeamShow__actions">
          <%= turbo_frame_tag User.new %>
          <%= link_to t(".add_member"),
            new_user_invitation_path(team: @team),
            data: { turbo_frame: dom_id(User.new) },
            class: "cm-btn cm-btn--secondary cm-btn--icon-left cm-icon-plus" %>
        </div>
      <% end %>
      <div class="TeamShow__members-list">
        <%= turbo_frame_tag "team_members" do %>
          <%= render @team.memberships %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>