<%= render partial: "main_menu" %>
<div class="cm-container">
  <div class="LegalNotice">
    <header class="LegalNotice__header">
      <%= image_tag "cm-logo.svg", class: "LegalNotice__logo",  alt: t(".logo-alt") %>
      <li>
        un outil libre et collaboratif de médiation numérique par SMS porté par 
        <%= image_tag "vv-logo.svg", class: "Partner__logo",  alt: t(".logo-anct-alt") %>
      </li>
      <li class="LegalNotice__header-subtitle">
        projet lauréat de l’AMI 2022 « Outiller la médiation numérique » porté par
        <%= image_tag "bloc-marque-republique-francaise--logo.svg", class: "Partner__logo",  alt: t(".logo-anct-alt") %>
        <%= image_tag "anct-logo-societe-numerique.svg", class: "Partner__logo",  alt: t(".logo-anct-alt") %>
      </li>
    </header>
    <div class="LegalNotice__title">
      <h1>
        MENTIONS LÉGALES
      </h1>
    </div>

    <p>Court-message est un outil métier d’envoi et de réception de SMS depuis un ordinateur.<br></p>
    <p>La conception de cet outil a été financée par <a href="https://agence-cohesion-territoires.gouv.fr/">l’Agence Nationale de Cohésion des Territoires</a> (ANCT) dans le cadre du <a href="https://societenumerique.gouv.fr/fr/">programme Société Numérique</a>. Il est piloté par <a href="https://vivesvoies.fr/">l’association Vives Voies</a> et a été pensé et conçu par : Zoé Aegerter, Clotilde Chevet, Jeanne Chiche, François Huguet, Amélie Lallemand et Louis-Jean Teitelbaum.</p>
    <p>En vertu de l’article 6 de la loi № 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il est précisé aux utilisatrices et utilisateurs du site <%= link_to "#{request.host_with_port}", "#{request.protocol}#{request.host_with_port}" %> l’identité des différentes intervenantes et intervenants dans le cadre de sa réalisation et de son suivi.</p>

    <h3>Éditeur</h3>
    <ul>
      <li>association vives voies</li>
      <li>Email : contact@vivesvoies.fr</li>
      <li>La Verrière — 25, rue Porte d’Alès, 30000 Nîmes</li>
      <li>Site web :  <a href="https://vivesvoies.fr/">www.vivesvoies.fr</a></li><br>
      <li>SIRET : 908 484 322 00015</li>
      <li>APE : 7220Z recherche en SHS</li>
      <li>N° TVA intracommunautaire : FR 379 0848 4322</li>
    </ul>

    <h3>Design et développement web</h3>
    <ul>
      <li>Louis-Jean Teitelbaum</li>
      <li>Site web : <a href="https://linkedin.com/in/louisjeanteitelbaum">https://linkedin.com/in/louisjeanteitelbaum</a></li>
      <li>Amélie Lallemand</li>
      <li>Site web : <a href="https://www.linkedin.com/in/am%C3%A9lie-lallemand">https://www.linkedin.com/in/amélie-lallemand</a></li><br>
      <li>Interface court-message : Zoé Aegerter et Jeanne Chiche</li>
      <li>Site web : <a href="https://www.zoeaegerter.com/">https://www.zoeaegerter.com</a> + <a href="https://www.linkedin.com/in/jeanne-chiche-01734310b">https://www.linkedin.com/in/jeanne-chiche-01734310b</a></li>
      <li>Logos court-message : Jeanne Chiche</li>
      <li>Site web : <a href="https://www.linkedin.com/in/jeanne-chiche-01734310b">https://www.linkedin.com/in/jeanne-chiche-01734310b</a></li>
    </ul>

    <h3>Hébergement</h3>
    <ul>
      <li>Ce site est hébergé par</li>
      <li>Scalingo SAS</li>
      <li>13 rue Jacques Peirotes</li>
      <li>67000 Strasbourg</li>
    </ul>

    <h3>Accessibilité</h3>
    <p>La conformité aux normes d’accessibilité numérique est un objectif ultérieur mais nous tâchons de rendre ce site accessible à toutes et à tous.</p>
    <p>Si vous rencontrez un défaut d'accessibilité vous empêchant d'accéder à un contenu ou une fonctionnalité du site, merci de nous en faire part.</p>

    <h3>Sécurité</h3>
    <p>Le site est protégé par un certificat électronique, matérialisé pour la grande majorité des navigateurs par un cadenas. Cette protection participe à la confidentialité des échanges, mais permet aussi aux usagères et usagers de s’assurer de l’authenticité du site. En aucun cas les services associés à la plateforme ne seront à l’origine d’envoi de courriels ou de SMS pour demander la saisie d’informations personnelles, en particulier, le mot de passe qui reste sous le contrôle exclusif des usagères et usagers.</p>

  </div>
</div>
<%= render partial: "footer" %>