<%= render partial: "main_menu" %>
<div class="cm-container">
  <div class="TermsAndConditions">
    <header class="TermsAndConditions__header">
      <%= image_tag "cm-logo.svg", class: "TermsAndConditions__logo",  alt: t(".logo-alt") %>
      <li>
        un outil libre et collaboratif de médiation numérique par SMS porté par 
        <%= image_tag "vv-logo.svg", class: "Partner__logo",  alt: t(".logo-anct-alt") %>
      </li>
      <li class="TermsAndConditions__header-subtitle">
        projet lauréat de l’AMI 2022 « Outiller la médiation numérique » porté par
        <%= image_tag "bloc-marque-republique-francaise--logo.svg", class: "Partner__logo",  alt: t(".logo-anct-alt") %>
        <%= image_tag "anct-logo-societe-numerique.svg", class: "Partner__logo",  alt: t(".logo-anct-alt") %>
      </li>
    </header>
    <div class="TermsAndConditions__title">
      <h1>
        CONDITIONS GÉNÉRALES D’UTILISATION
      </h1>
      <p class="TermsAndConditions__subtitle">
        Tests de l’outil Court-Message, projet lauréat de l’AMI 2022 « Outiller la médiation numérique »
      </p>
    </div>

    <p class="TermsAndConditionsVersion__content">
      Version 0.1 (tests de la plateforme)<br>
      Valables à partir du 1er mars 2024
    </p>

    <p>Court-message est un outil métier d’envoi et de réception de SMS depuis un ordinateur.<br></p>
    <p>La conception de cet outil a été financée par <a href="https://agence-cohesion-territoires.gouv.fr/">l’Agence Nationale de Cohésion des Territoires</a> (ANCT) dans le cadre du <a href="https://societenumerique.gouv.fr/fr/">programme Société Numérique</a> <a href="https://agence-cohesion-territoires.gouv.fr/ami-outiller-la-mediation-numerique-559">(AMI « Outiller la médiation numérique »). </a>
      Il est édité par <a href="https://vivesvoies.fr/">l’association vives voies</a> et a été pensé et conçu par : Zoé Aegerter, Clotilde Chevet, Jeanne Chiche, François Huguet, Amélie Lallemand et Louis-Jean Teitelbaum.</p>
    <h3>Présentation du service</h3>
    <p>Court-message est une application web gratuite (hors prix des SMS) qui permet d’envoyer et de recevoir des SMS depuis son ordinateur. </p>
    <p>Il s’agit d’un outil libre et ouvert de médiation numérique qui vise à soutenir et équiper les pratiques des médiatrices et des médiateurs socionumériques, des travailleuses et des travailleurs sociaux, des Conseillères et Conseillers numériques France Services (CnFS) et des publics en demande d'accompagnement au numérique.</p>
    <p>Le présent document définit les conditions et modalités d’utilisation du service <%= link_to "#{request.host_with_port}", "#{request.protocol}#{request.host_with_port}" %> sur Internet.</p>
      L’utilisation du service est libre, facultative et gratuite (hors prix des SMS).
    <p>L'utilisation du service est subordonnée à l’acceptation préalable et au respect intégral des présentes conditions générales d’utilisation (CGU) par les usagers.</p>

    <h3>Vocabulaire</h3>
    <ul>
      <li>« Nous » se réfère à l’éditeur de Court-message.</li>
      <li>« Éditeur » se réfère à l’association vives voies.</li>
      <li>« Le service » se réfère à l’application web Court-message.</li>
      <li>« Structure » se réfère à la structure d’accompagnement des publics en demande d'accompagnement au numérique.</li>
    </ul>

    <h3>Objet</h3>
    <p>Le service est une application web qui permet à des professionnelles et des professionnels de l’accompagnement au numérique :</p>
    <ul>
      <li>D’envoyer des SMS à des personnes en demande d’accompagnement au numérique (suite à l’acceptation de leur part de ce mode de contact lors d’un entretien en présentiel dans un lieu d’accompagnement au numérique, de médiation sociale ou socionumérique).</li>
      <li>De créer des fils de discussions avec des personnes en demande d’accompagnement, de conserver ces fils afin de garder une trace des démarches et du parcours d’accompagnement en cours.</li>
      <li>D’échanger entre professionnelles et professionnels d’une même structure sur les personnes accompagnées, d’enregistrer des messages types afin de faciliter le travail d’accompagnement.</li>
    </ul>

    <h3>Obtention d’un accès à Court-message pour une ou un professionnel de l’accompagnement</h3>
    <p>Pour obtenir un accès au service, la Structure doit contacter l’Éditeur de Court-message, à savoir l’association vives voies (contact@vivesvoies.fr) en précisant son statut, ses besoins, le type de structure qui utilisera le service, le type de personnes accompagnées.</p>

    <h3>Responsabilités de la Structure</h3>
    <p>La Structure s'engage à :</p>
    <ul>
      <li>S’assurer que la personne en demande d’accompagnement a pris connaissance des conditions d’utilisation du service Court-Message ;</li>
      <li>Recueillir le consentement de la personne en demande d’accompagnement concernant l’utilisation du Service.</li>
    </ul>

    <h3>Confidentialité</h3>
    <p>En utilisant le service Court-message, la Structure s’engage à :</p>
    <ul>
      <li>Respecter un devoir de confidentialité quant aux données personnelles de la personne accompagnée auxquelles elle aura potentiellement accès ;</li>
      <li>Expliquer impérativement à la personne accompagnée les risques de divulgation des données personnelles à un tiers ;</li>
      <li>Préciser son statut professionnel attaché à sa profession et à ses missions ;</li>
      <li>S’assurer de la protection de ses propres données d’authentification via des mots de passe robustes ;</li>
      <li>Mettre à jour puis à supprimer l’ensemble des informations relatives à l’usager lorsqu’elles ne sont plus nécessaires à la réalisation des accompagnements ;</li>
      <li>Accueillir les personnes en demande d'accompagnement au numérique en faisant preuve d’une neutralité bienveillante.</li>
    </ul>

    <h3>Information et transparence</h3>
    <p>Lors de l’accompagnement de l’Usager, la Structure :</p>
    <ul>
      <li>Informe l’Usager des droits dont il dispose, prévus par les articles 13, 15, 16 et 17 du Règlement général sur la protection des données (RGPD), et notamment de la possibilité de révoquer à tout moment l’accompagnement par les deux parties ;</li>
      <li>S’assure que l’information a été réalisée de manière concise, transparente, compréhensible et aisément accessible conformément aux dispositions de l’article 12 du RGPD.</li>
    </ul>

    <h3>Cookies</h3>
    <p>Nous déposons des cookies de mesure d’audience (nombre de visites, pages consultées), respectant les conditions d’exemption du consentement de l’internaute définies par la recommandation « Cookies » de la Commission nationale informatique et libertés (CNIL). Cela signifie, notamment, que ces cookies ne servent qu’à la production de statistiques anonymes et ne permettent pas de suivre votre navigation sur d’autres sites. Nous déposons également des cookies de navigation, aux fins strictement techniques, qui ne sont pas conservés. Les cookies de mesures d’audience sont conservés 13 mois après leur premier dépôt.</p>

    <h3>Traitement des données et utilisation</h3>
    <p>Nous ne pouvons utiliser vos données à caractère personnel qu’à des fins à la fois légitimes et nécessaires. Cela signifie concrètement que nous traitons vos données à caractère personnel pour les finalités suivantes :</p>
    <ul>
      <li>Authentifier les agentes et agents des structures ;</li>
      <li>Offrir aux personnes en demande d'accompagnement au numérique la traçabilité des actions effectuées par les aidants.</li>
      <li>Analyser les contenus échangés afin d’améliorer l’outil (développer de nouvelles fonctionnalités, analyser les sujets les plus abordés lors de situation d’accompagnement, etc.)</li>
    </ul>
    <p>Nous nous engageons à prendre les mesures techniques et organisationnelles appropriées afin de garantir la sécurité du traitement des données à caractère personnel de chacune et de chacun. En application du règlement général sur la protection des données et de la loi informatique et aux libertés, vous disposez d’un droit d’accès, de rectification, de suppression.</p>
    <p>
      Par courriel : contact@vivesvoies.fr<br>
      Par voie postale : vives voies, 25 rue porte d’Alès, 30000 Nîmes
    </p>
    <p>Conformément au règlement général sur la protection des données, vous disposez du droit d’introduire une réclamation auprès de la CNIL (3 place de Fontenoy – TSA 80715 – 75334 PARIS CEDEX 07). Les modalités de réclamation sont précisées sur le site de la CNIL : <a href="https://cnil.fr/fr">www.cnil.fr</a>.</p>

    <h3>Connexion des Structure au service Court-message</h3>
    <p>Pour se connecter au service, une structure doit rentrer une adresse électronique individuelle professionnelle qui a été déclarée au service par la structure habilitée. Un courrier électronique contenant un lien de connexion. Il lui sera demandé à l’issu de rentrer un code à usage unique afin d’être authentifié.</p>

    <h3>Évolution du service</h3>
    <p>Nous pouvons faire évoluer Court-Message sans information préalable ou préavis. Nous ajoutons et améliorons régulièrement l’interface et modifions les formulations sur la base de vos retours et des évolutions réglementaires et législatives.</p>

    <h3>Disponibilité du service</h3>
    <p>Nous pouvons suspendre l’accès à Court-message sans information préalable ni préavis, notamment pour des raisons de maintenance. Nous mettons Court-message à disposition sans garantie sur sa disponibilité. Même si nous nous efforçons de maintenir le service toujours opérationnel, cela signifie que d’éventuelles indisponibilités n’ouvriront pas droit à compensation financière. Nous nous réservons également le droit de bloquer, sans information préalable ni compensation financière, les usages mettant en péril l’utilisation du logiciel par d’autres usagers.</p>
    <p>Sans connexion au compte Court-message pendant six mois, et sans notification écrite (par email ou courrier) de la part de la Structure, l’accès de la structure au service Court-message sur Internet est automatiquement désactivé</p>

    <h3>Évolution des conditions d’utilisation</h3>
    <p>Les termes des présentes conditions d’utilisation peuvent être modifiés ou complétés à tout moment, sans préavis, en fonction des modifications apportées au service, de l’évolution de la législation ou pour tout autre motif jugé nécessaire. Ces modifications et mises à jour s’imposent à l’utilisatrice et à l’utilisateur qui doit, en conséquence, se référer régulièrement à cette rubrique pour vérifier les conditions générales en vigueur</p>
  </div>
</div>
<%= render partial: "footer" %>