<%# Locals: wrap_in: tag to wrap the message into. Defaults to :li. Could be :div. %>
<% tag = (defined?(wrap_in) && wrap_in.present?) ? wrap_in : :li %>

<%= content_tag tag, id: dom_id(message), class: "Message Message--#{message.status}" do %>
  <div class="Message__sender">
    <%= message.sender.name_or_phone %>
  </div>
  <div class="Message__content">
    <%= message.content %>
  </div>
  <div class="Message__metadata">
    <div class="Message__timestamp">
      <%= time_stamp_for message.created_at %>
    </div>
    ·
    <div class="Message__status">
      <%= message.status %>
    </div>
  </div>
<% end %>
