<%= turbo_frame_tag "new_message", target: "_top" do %>
  <%= form_with(model: @message, class: "MessageForm",
    data: {
      controller: "reset-form message-box",
      action: "turbo:submit-start->message-box#submit
               turbo:submit-end->message-box#reset
               keydown->message-box#keydown
               input->message-box#input"
    }
  ) do |form| %>
    
    <div class="MessageForm__input-group">
      <div class="MessageForm__field fr-input-group <%= "fr-input-group--error" if @message.errors.any? %>">
        <%= form.text_area :content, class: "fr-input #{"fr-input--error" if @message.errors.any?}", placeholder: "Message SMS", data: { message_box_target: "textarea" } %>
        <%= form.hidden_field :conversation_id %>  
      </div>
      <div class="MessageForm__button">
        <%= form.submit "Envoyer", class: "cm-btn" %>
      </div>
      <div class="MessageForm__character_count fr-hint-text" data-message-box-target="counter"></div>
    </div>
    
    <% if @message.errors.any? %>
      <div class="FormErrors">
        <p class="fr-error-text"><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</p>
    
        <ul class="">
          <% @message.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <% end %>
<% end %>