<%= turbo_frame_tag "new_message", target: "_top" do %>
  <%= form_with(model: @message,
    data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }
  ) do |form| %>
    <% if @message.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>
  
        <ul>
          <% @message.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <%= form.text_field :content %>  
    <%= form.hidden_field :conversation_id %>  
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>
<% end %>