<%= turbo_frame_tag "new_message", target: "_top" do %>
  <%= form_with(model: @message, class: "MessageForm",
    data: {
      controller: "reset-form message-box",
      action: "turbo:submit-start->message-box#submit
               turbo:submit-end->message-box#reset
               keydown->message-box#keydown
               input->message-box#input"
    }
  ) do |form| %>
    
    <div class="MessageForm__input-group">
      <ul class="MessageForm__media-btns cm-btns-group cm-btns-group--inline">
        <li><%= link_to t(".attachment"), "javascript:void(0)", class: "cm-btn cm-btn--tertiary cm-icon-attachment" %></li>
        <li><%= link_to t(".photo"), "javascript:void(0)", class: "cm-btn cm-btn--tertiary cm-icon-picture" %></li>
        <li><%= link_to t(".audio"), "javascript:void(0)", class: "cm-btn cm-btn--tertiary cm-icon-microphone" %></li>
      </ul>
      <% if @message %>
      <div class="MessageForm__field cm-input-group <%= "cm-input-group--error" if @message.errors.any? %>">
        <%= form.text_area :content, class: "cm-input cm-input--line #{"cm-input--error" if @message.errors.any?}", placeholder: t(".placeholder"), data: { message_box_target: "textarea" } %>
        <%= form.hidden_field :conversation_id %>
      </div>
      <% else %>
        <div class="MessageForm__field cm-input-group">
          <%= form.text_area :content, class: "cm-input cm-input--line", placeholder: t(".placeholder"), data: { message_box_target: "textarea" } %>
        </div>
      <%end%>
      <div class="MessageForm__send">
        <%= button_tag "Envoyer",
            type: 'submit',
            class: "cm-btn cm-icon-send",
            :disabled => !@message %>
      </div>
      </div>
      <div class="MessageForm__character_count cm-hint-text" data-message-box-target="counter"></div>
    </div>
    <% if @message && @message.errors.any? %>
      <div class="FormErrors">
        <p class="cm-error-text"><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</p>
    
        <ul class="">
          <% @message.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <% end %>
<% end %>