<div class="container">
  <%= link_to sanitize("&larr; Back"), team_path(@team.id) %>

  <%= turbo_frame_tag "new_membership" do %>

    <%= form_with(model: @membership, data: { turbo: false }) do |form| %>
    <%= form.hidden_field :team_id %>

    <fieldset class="cm-fieldset">
      <div class="cm-fieldset__element fr-select-group">
        <%= form.label :user, "Utilisateurs de la plate-forme", class: "fr-label" %>
        <%= form.collection_select :user_id, @users, :id, :identifier, {}, class: "fr-select" %>
      </div>
    </fieldset>

    <fieldset class="cm-fieldset">
      <div class="cm-fieldset__element cm-btns-group">
        <%= form.submit t("users.invitation.new"), class: "cm-btn" %>
      </div>
    </fieldset>
      <%= link_to sanitize("&larr;"), team_path(@team) %>
    <% end %> 

  <% end %>
</div>