<%= content_for :back do %>
  <%= link_to t(:back), root_path, class: "cm-btn cm-btn--icon-left fr-icon-arrow-left-line" %>
<% end %>
<%= render partial: "menu" %>
<div class="Page Page__resend-confirm">
  <div class="Block Block__resend-confirm">
    <h1><%= t(".resend_confirmation_instructions") %></h1>
    
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <fieldset class="cm-fieldset">
        <%= render "devise/shared/error_messages", resource: resource %>
      
        <div class="cm-fieldset__element fr-input-group">
          <%= f.label :email, class: "fr-label" do %>
            <%= t("devise.shared.forms.identifier") %>
            <span class="cm-hint-text"><%= t("devise.shared.forms.id_hint") %></span>
          <% end %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), aria_required: true, class: "fr-input" %>
        </div>
      </fieldset>
    
      <fieldset class="cm-fieldset">
        <div class="cm-fieldset__element cm-btns-group">
          <%= f.submit t(".resend_confirmation_instructions"), class: "cm-btn" %>
        </div>
      </fieldset>
    <% end %>
    
    <%= render "devise/shared/links" %>
  </div>
</div>