<li class="Conversation <%= "Conversation--active" if @conversation == conversation %>" data-conversation-list-target="conversation" id="<%= dom_id conversation %>">
  <%= link_to [@team, conversation], class: "Conversation__link", data: { turbo_frame: "conversation_detail", turbo_action: "advance", action: "click->conversation-list#activate" } do %>
    <div class="Conversation__contact">
      <%= conversation.title %>
    </div>
    <div class="Conversation__latest">
      <%= time_stamp_for conversation.updated_at %>
    </div>
    <div class="Conversation__sub <%= last_message_class_for conversation %>">
      <%= last_message_extract_for conversation %>
    </div>
  <% end %>
</li>
