<%= render "turbo_flash" %>

<div id="conversation_detail" class="ConversationDetail" data-controller="conversation-detail">
  <%= turbo_stream_from conversation, data: { viewer_target: "conversationIndicator" } %>
  <%= render partial: "viewer_detail_tab_bar", locals: { conversation:, team: @team, active: :conversation } %>
  <header class="ConversationDetail__header">
    <nav class="ConversationDetail__main-nav">
      <%= link_to t(:back), team_conversations_path(@team), data: { turbo_frame: "_top" }, class: "ConversationDetail__back cm-btn cm-icon-arrow-left cm-btn--icon-left" %>
    </nav>
    <h2 class="ConversationDetail__title">
      <span class="ConversationDetail__title-prefix"><%= t(:to) %></span>
      <%= conversation.title %>
    </h2>
  </header>

  <div class="ConversationDetail__scroller">
    <ol id="messages" class="MessageList" data-controller="message-list">
      <%= render partial: "messages/message", collection: conversation.messages %>
    </ol>
    
    <footer class="ConversationDetail__footer">
      <%= turbo_frame_tag "new_message", src: new_message_path(conversation_id: conversation.id), target: "_top" %>
    </footer>
  </div>
</div>