<div class="Conversation">
  <%= link_to conversation, class: "Conversation__link", data: { turbo_frame: "conversation_detail", turbo_action: "advance" } do %>
    <div class="Conversation__contact">
      <%= conversation.title %>
    </div>
    <div class="Conversation__latest">
      <%= time_ago_in_words conversation.updated_at %>
    </div>
    <div class="Conversation__sub <%= last_message_class_for conversation %>">
      <%= last_message_extract_for conversation %>
    </div>
  <% end %>
</div>