<%# locals: (team:, conversations:, turbo_stream_name:) %>

<div class="ConversationHeader__actions" data-controller="search-contact" data-search-contact-conversation-list-outlet="#conversations">
  <%= link_to t(".new"), team_conversations_path(@team),
        class: "cm-btn cm-btn--lg cm-icon-pencil cm-btn--icon-left ConversationHeader__new",
        data: { turbo_frame: :primary, action: "search-contact#deselect", turbo_action: :advance } %>
</div>

<% if false %>
  <div class="ConversationHeader__search" role="search">
    <%= text_field_tag :search_query, nil, placeholder: t(".search"), class: "cm-input-search", type: :search %>
    <%#= button_tag t(".search"), title: t(".search"), class: "cm-btn cm-btn--tertiary-no-outline" %>
  </div>
<% end %>

<div class="ConversationSwitcher">
  <%= turbo_stream_from turbo_stream_name %>
  <div class="ConversationSwitcher__header">
    <h3 class="<%= "active" if params[:show] == "mine" %>">
      <%= button_to t(".my_conversations"), team_conversations_path(conversation_id: @conversation_id.presence), params: { show: "mine" }, method: :get %>
    </h3>
    <h3 class="<%= "active" if params[:show] == "all"|| params[:show].nil? %>">
      <%= button_to t(".all_conversations"), team_conversations_path(conversation_id: @conversation_id.presence), params: { show: "all" }, method: :get %>
    </h3>
  </div>
  <ol id="conversations"
      class="ConversationList"
      data-controller="conversation-list"
      data-conversation-list-item-class="Conversation"
      data-conversation-list-active-class="Conversation--active"
      data-conversation-list-unread-class="Conversation--unread"
      data-conversation-list-link-class="Conversation__link">
    <%= render conversations %>
  </ol>
</div>