<% conversation_destination = @conversation ? team_conversation_path(Current.team, @conversation) : team_conversations_path(Current.team) %>
<% contact_destination = @conversation ? team_contact_path(Current.team, @conversation.contact_id) : new_team_contact_path(Current.team) %>

<nav data-controller="tab-bar" data-tab-bar-viewer-outlet=".Viewer" data-tab-bar-active-tab-class="TabBarButton--active">
  <%= tab_for :home,
    icon: :home,
    mobile: :only,
    frame: :navigation,
    destination: menu_team_path(Current.team)
  %>
  <%= tab_for :conversations,
    active: true,
    icon: :chat,
    frame: :primary,
    destination: "javascript:void(0)"
  %>
  <%= tab_for :contacts,
    icon: :"address-book",
    frame: :primary,
    destination: "javascript:void(0)"
  %>
  <%= tab_for :presets,
    icon: :star,
    mobile: :only,
    frame: :secondary,
    destination: page_path("presets")
  %>
  <%= tab_for :inbox,
    icon: :"chat-bubble",
    mobile: :only,
    frame: :secondary,
    destination: page_path("inbox")
  %>
</nav>