<nav>
  <ul>
    <li class="cm-small-only">
      <%= link_to t(".home"), "javascript:void(0)", class: "cm-btn cm-btn--caption cm-icon-home" %>
    </li>
    <li>
      <%= link_to t(".conversations"), "javascript:void(0)", class: "cm-btn cm-btn--caption cm-icon-chat" %>
    </li>
    <li class="cm-small-only">
      <%= link_to t(".new_message"), "javascript:void(0)", class: "cm-btn cm-btn--caption cm-icon-new-message" %>
    </li>
    <li>
      <%= link_to t(".contacts"), "javascript:void(0)", class: "cm-btn cm-btn--caption cm-icon-address-book" %>
    </li>
    <li class="cm-small-only">
      <%= link_to t(".inbox"), "javascript:void(0)", class: "cm-btn cm-btn--caption cm-icon-chat-bubble" %>
    </li>
  </ul>
</nav>