<% conversation_destination = @conversation ? team_conversation_path(Current.team, @conversation) : team_conversations_path(Current.team) %>

<nav data-controller="tab-bar" data-tab-bar-viewer-outlet=".Viewer" data-tab-bar-active-tab-class="TabBarButton--active">
  <%= tab_for :home,
    icon: :home,
    mobile: :only,
    destination: conversation_destination
  %>
  <%= tab_for :conversations,
    active: true,
    icon: :chat,
    frame: :conversation_detail,
    destination: "javascript:void(0)"
  %>
  <%= tab_for :contacts,
    icon: :"address-book",
    frame: :contacts, 
    destination: team_contacts_path(@team)
  %>
  <%= tab_for :presets,
    icon: :star,
    mobile: :only,
    frame: :presets,
    destination: page_path("presets")
  %>
  <%= tab_for :inbox,
    icon: :"chat-bubble",
    mobile: :only,
    frame: :inbox,
    destination: page_path("inbox")
  %>
</nav>