<nav>
  <%= radio_button_tag :current_tab, "home", class: "TabBar__radio" %>
  <%= label_tag "current_tab_home", t(".home"), class: "cm-small-only cm-btn cm-btn--caption cm-icon-home" %>

  <%= radio_button_tag :current_tab, "conversations", class: "TabBar__radio" %>
  <%= label_tag "current_tab_conversations", t(".conversations"), class: "cm-btn cm-btn--caption cm-icon-chat" %>

  <%= radio_button_tag :current_tab, "new_message", class: "TabBar__radio" %>
  <%= label_tag "current_tab_new_message", t(".new_message"), class: "cm-small-only cm-btn cm-btn--caption cm-icon-new-message" %>

  <%= radio_button_tag :current_tab, "contacts", class: "TabBar__radio" %>
  <%= label_tag "current_tab_contacts", t(".contacts"), class: "cm-btn cm-btn--caption cm-icon-address-book" %>

  <%= radio_button_tag :current_tab, "inbox", class: "TabBar__radio" %>
  <%= label_tag "current_tab_inbox", t(".inbox"), class: "cm-small-only cm-btn cm-btn--caption cm-icon-chat-bubble" %>
</nav>