<% content_for :navigation do %>
  <div class="ConversationSidebar">
    <%= render partial: "conversations/team_name", locals: { team: @team } %>
    <%= render partial: "conversations/sidebar", locals: { team: @team, conversations: @conversations, turbo_stream_name: @turbo_stream_name } %>
  </div>
<% end %>

<%= content_for :primary do %>
  <% if @conversation %>
    <%= render partial: "conversation_detail", locals: { conversation: @conversation } if @conversation %>
  <% else %>
    <%= render partial: "contacts/search" %>
  <% end %>
<% end %>

<%= content_for :secondary do %>
  <%= render partial: "templates/templates_list", locals: { user: Current.user, templates: @templates } %>
<% end if @templates %>