<div class="Viewer" id="viewer" data-controller="viewer" data-viewer-conversation-list-outlet=".ConversationList">
  <%= turbo_frame_tag "conversation_sidebar", class: "ConversationSidebar" do %>
    <%= render partial: "conversations/team_name", locals: { team: @team } %>
    <%= render partial: "conversations/sidebar", locals: { team: @team, conversations: @conversations } %>
  <% end %>

  <%= turbo_frame_tag "conversation_detail", class: "ConversationDetail", data: { controller: "conversation-detail" } do %>
    <%= render partial: "conversation_detail", locals: { conversation: @conversation } %>
  <% end %>

  <%= turbo_frame_tag "contacts", class: "Contacts" %>
  <%= turbo_frame_tag "presets", class: "Presets" %>
  <%= turbo_frame_tag "inbox", class: "Inbox" %>

  <%= turbo_frame_tag "tab_bar", class: "TabBar" do %>
    <%= render partial: "tab_bar" %>
  <% end %>
</div>
