<%#- Used only on original page load or when hitting refresh %>
<% content_for :navigation do %>
  <div class="ConversationSidebar">
    <%= render partial: "conversations/team_name", locals: { team: @team } %>
    <%= render partial: "conversations/sidebar", locals: { team: @team, conversations: @conversations } %>
  </div>
<% end if @conversations %>

<%= content_for :primary do %>
  <%= render partial: "conversation_detail", locals: { conversation: @conversation } if @conversation %>
<% end %>

<%= content_for :secondary do %>
  <%= render partial: "templates/templates_list", locals: { user: Current.user, templates: @templates } %>
<% end if @templates %>

<%#- Will get used for turbo-frame navigation %>
<% if current_frame %>
  <%= turbo_frame_tag "primary" do %>
    <%= render partial: "conversation_detail", locals: { conversation: @conversation } if @conversation %>
  <% end%>
<% end %>
