<div class="Template">
  <%= form_with(model: template, url: template.new_record? ? team_user_templates_path(team_id: @team.slug, user_id: @user.id) : team_user_template_path(@team, user_id: template.user.id, id: template.id)) do |form| %>
    <% if template.errors.any? %>
      <%= render partial: "model_errors", locals: { model: template } %>
    <% end %>

    <fieldset class="cm-fieldset">
      <div class="cm-fieldset__element">
        <%= form.text_area :content, class: "cm-tile Template__content", data: { controller: "autofocus" } %>
      </div>
    </fieldset>

    <div class="TemplateForm__actions">
      <% unless template.new_record? %>
        <div class="TemplateForm__remove">
          <%= link_to "", team_user_template_path(@team, user_id: template.user.id, id: template.id),
              data: {
                turbo_method: :delete,
                turbo_confirm: t(:confirm),
                confirm_details: t(".confirm_delete"),
                confirm_button: t(".delete")
              },
              class: "cm-btn cm-icon-bin cm-btn--secondary" %>
        </div>
      <% end %>
        <div class="TemplateForm__submit">
          <%= button_tag t(".update"), type: 'submit', class: "cm-btn cm-btn--validate cm-btn--icon-left cm-icon-checkmark" %>
        </div>
    </div>

  <% end %>
</div>