<%= turbo_frame_tag template do %>
  <div class="Template" id="<%= dom_id template %>">
    <div data-controller="clipboard">
      <div class="cm-tile Template__content" data-clipboard-target="source">
        <%= template.content %>
      </div>

      <div class="Template__actions">
        <div class="Template__remove">
          <%= link_to "", team_user_template_path(@team, user_id: template.user.id, id: template.id),
              data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?" },
              class: "cm-btn cm-icon-bin cm-btn--secondary" %>
        </div>
      
        <div class="Template__copy">
          <button data-action="clipboard#copy" class="cm-btn cm-icon-copy cm-btn--validate"></button>
        </div>

        <div class="Template__edit">
          <%= link_to "", edit_team_user_template_path(@team, user_id: template.user.id, id: template.id),
              class: "cm-btn cm-icon-pencil cm-btn--validate" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
