<%= form_with(model: user) do |form| %>
  <h1><%= t(".edit_user") %></h1>
  <% if user.errors.any? %>
    <%= render partial: "model_errors", locals: { model: user } %>
  <% end %>

  <fieldset class="fr-fieldset">
    <div class="fr-fieldset__element fr-input-group">
      <%= form.label :name, t(:name), class: "fr-label" %>
      <%= form.text_field :name, class: "fr-input" %>
    </div>

    <div class="fr-fieldset__element fr-input-group">
      <%= form.label :email, t(:email), class: "fr-label" %>
      <%= form.text_field :email, class: "fr-input" %>
    </div>

    <div class="fr-fieldset__element fr-select-group">
      <%= form.label :role, t(".role"), class: "fr-label" %>
      <%= form.select :role, roles_collection, {}, class: "fr-select" %>
    </div>
  </fieldset>

  <fieldset class="fr-fieldset">
    <div class="fr-fieldset__element fr-btns-group">
      <%= form.submit t(".update"), class: "fr-btn" %>
    </div>
  </fieldset>
<% end %>
