<div id="<%= dom_id user %>">
  <%= turbo_frame_tag user do %>
  
    <div class="UserTile__body cm-tile__body">
      <div class="UserTile__name">
        <%= user.name %> <% if Current.user == user %><%= t(".me") %><% end %>
      </div>
    
      <div class="UserTile__created_at">
        <%= t(".join") %> <%= user.created_at.year.to_s %>
      </div>
    
      <div class="UserTile__phone">
        <%= user.phone %>
      </div>
    
      <div class="UserTile__email">
        <%= user.email %>
      </div>
    </div>
  <% end %>
</div>
