<tr id="<%= dom_id user %>" class="UserRow">
  <td class="UserRow__name">
    <%= user.name %>
  </td>

  <td class="UserRow__email">
    <%= user.email %>
  </td>

  <td class="UserRow__teams">
    <% user.teams.each do |team| %>
      <%= link_to team.name, team %>
    <% end %>
  </td>

  <td class="UserRow__roles">
    <%= user.role %>
  </td>

</tr>
