<%= content_for :back do %>
  <%= link_to t(:back), root_path, class: "cm-btn cm-btn--icon-left cm-icon-arrow-left" %>
<% end %>
<%= render partial: "main_menu" %>

<%= turbo_frame_tag @user do %>
  <h4><% if Current.user == @user %><%= t(".me") %><% end %></h4>
  <%= render "form", { user: @user, team: @team } %>
<% end %>
