<%= content_for :back do %>
  <%= link_to t(:back), root_path, class: "cm-btn cm-btn--icon-left fr-icon-arrow-left-line" %>
<% end %>
<%= render partial: "menu" %>

<div class="Page Page__user-show">
  <div class="Block Block__user-show UserShow">
    <h1>
      <%= @user.name %>
      <span class="fr-tag"><%= t("roles." + @user.role) %></span>
    </h1>
    <p><%= @user.email %></p>
    <div>
      <ul class="fr-tags-group">
        <% @user.teams.each do |team| %>
          <li><%= link_to team.name, team_path(team), class: "fr-tag fr-tag" %></li>
        <% end %>
      <ul>
    </div>

    <div class="UserShow__actions cm-btns-group cm-btns-group--inline cm-btns-group--right cm-btns-group--icon-left">
      <% if can? :destroy, @user %>
        <%= button_to t(".delete_user"), team_user_path(@team, @user), method: :delete, data: { turbo_confirm: t(".delete_user_confirm") }, class: "cm-btn cm-btn--sm cm-btn--secondary cm-btn--icon-left fr-icon-delete-bin-line" %>
      <% end %>

      <%= link_to t(".edit_user"), edit_team_user_path(@user), class: "cm-btn cm-btn--sm cm-btn--primary cm-btn--icon-left fr-icon-pencil-line" %>
    </div>
  </div>
</div>
