<%= turbo_frame_tag "contacts" do %>
  <h1><%= contact.name  %></h1>
  <%= link_to t(".edit"), edit_team_contact_path(@team, contact.id), class: "ContactDetail__edit-btn cm-btn cm-btn--sm cm-btn--secondary" %>
  <div class="ContactDetail">
    <div class="ContactDetail__info">

      <div class="cm-fieldset__element cm-input-group">
        <label class="cm-label"><%= t(:phone) %></label>
        <div class="Contact__phone cm-input">
          <%= contact.phone %>
        </div>
      </div>

      <div class="cm-fieldset__element cm-input-group">
        <label class="cm-label"><%= t(:email) %></label>
        <div class="Contact__email cm-input">
          <%= contact.email %>
        </div>
      </div>
      
      <div class="cm-fieldset__element cm-input-group">
        <label class="cm-label"><%= t(".notes") %></label>
        <% unless !contact.notes_updated_at? %>
          <label class="cm-label"><%= t(".last_updated") %></label>
          <label class="cm-label"><%= l(contact.notes_updated_at, format: ' %d %B %Y') %></label>
        <% end %>
        <% unless !contact.notes_last_editor_id? %>
          <label class="cm-label"><%= t(".by") %></label>
          <label class="cm-label"><%= Current.user == User.find(contact.notes_last_editor_id) ? t(".me") : User.find(contact.notes_last_editor_id).name %></label>
        <% end %>
        <div class="Contact__notes cm-input">
          <%= contact.notes %>
        </div>
      </div>
    </div>
  </div>
<% end %>