<%= content_for :primary do %>
  <%= render partial: "viewer_detail_tab_bar", locals: { conversation: @contact.conversation, team: @team, active: :contact } %>
  <div class="ContactPage">
    <%= render "header_tab_bar" do %>
      <i class="cm-icon-contact"></i>
      <%= @contact.name %>
    <% end %>
    <div class="ContactPage__body ContactEdit">
      <%= render "form", contact: @contact %>
    </div>
  </div>
<% end %>
