
<%= content_for :primary do %>
  <div class="ContactSearch" role="search">
    <header class="ContactSearch__header">
      <h2 class="ContactSearch__title">
        <span class="ContactSearch__title-prefix">
          <%= t(:to) %>
        </span>
        <%= form_with url: search_team_contacts_path,
              method: :get,
              data: {
                controller: "search-form",
                turbo_frame: "contact_search_results"
              },
              class: "ContactSearch__inline-form" do |form| %>
          <%= form.search_field :query, class: "ContactSearch__form", placeholder: "Search", data: { action: "input->search-form#debounceSubmit" } %>
        <% end %>
      </h2>
    </header>

    <%= turbo_frame_tag "contact_search_results" do %>
      <ol id="contact_results" class="ContactSearchResults">
          <% if @results.present? %>
            <% @results.each do |contact| %>
              <li class="ContactSearchResult__name">
                <%= link_to contact.conversation.present? ? team_conversation_path(@team, contact.conversation.id) : new_team_conversation_path(@team, contact: contact.id), class: "ContactSearchResult__action", data: { turbo_frame: :primary } do %>
                  <%= contact.name %>
                <% end %>
              </li>
            <% end %>
          <% elsif !@results.present? && !@search.blank? %>
            <li class="ContactSearchResult__no-contact">
              <%= t(".no_contact") %>
              <%= link_to t(".new_contact"), new_team_contact_path, class: "cm-btn cm-btn--icon-left cm-icon-person-add", data: { turbo_frame: :primary } %>
            </li>
          <% end %>
      </ol>
    <% end %>
  </div>
<% end %>
