<!DOCTYPE html>
<html lang="fr" data-fr-scheme="system">
  <head>
    <title>Court-message</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="/dsfr/dsfr.css" rel="stylesheet">
    <link href="/dsfr/utility/utility.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <%= turbo_frame_tag "modal" %>
    <%= render "flash" %>
    <%= render "application/header" %>
    <main class="Main">
      <%= yield %>
    </main>
  </body>
</html>
