<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Court-message</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-refresh-method" content="morph">
    <meta name="turbo-refresh-scroll" content="preserve">

    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/icons/icon-mini-180.png" sizes="180x180">
    <link rel="icon" href="/icons/icon-large.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.webmanifest">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <link href="/dsfr/dsfr.css" rel="stylesheet"> %>
    <%# <link href="/dsfr/utility/utility.css" rel="stylesheet"> %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
    <%= yield(:head) %>
  </head>

  <body class="<%= yield(:body_class) %>">
    <%= turbo_frame_tag "modal" %>
    <%= turbo_frame_tag "flash", class: "FlashContainer" do %>
      <%= render "flash" %>
    <% end %>
    <main class="Main">
      <%= content_for?(:layout) ? yield(:layout) : yield %>
    </main>
  </body>
</html>
